body {

    background-color: #D6BD98;
}

.application-stats-container {
    height: 140px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalbox {
    background-color: #8EB486;
    border-radius: 15px;
    height: 100px;
    /* Adjusted height for better proportions */
    padding: 20px 40px;
    /* Balanced padding */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Center contents vertically */
    justify-content: space-between;
    gap: 55px;
    /* Evenly space out the labels and values */

}


.label-format {
    color: #FDF7F4;
    font-size: 45px;
    font-weight: 500;
    /* Adjusted for better readability */
}

.value-format {
    color: #997C70;
    font-size: 65px;
    font-weight: bold;
    /* Bold for emphasis */
}

.input-applications-container {
    /* background: green; */
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}



.input-field {
    background-color: #8EB486;
    border-radius: 15px;
    height: 30px;
    width: 300px;
    padding: 45px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* Push items to opposite ends */

}

.input-label {
    color: #FDF7F4;
    font-size: 25px;
    font-weight: 800;
    /* Adjusted for better readability */
}

input {
    width: 100%;
    padding: 10px;

}

.add-button {
    width: 200px;
    height: 50px;
    margin: 10px;
}

.list-of-applications-container {

    /* background: pink; */
    height: 750px;
    margin-top: 50px;
    max-height: 750;
    /* Set a maximum height for the container */
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* border: 10px solid #685752; */
    /* Optional: Add a border for better visibility */
    padding: 5px;
    /* Optional: Add padding for spacing */
}

.job-card-css {
    background-color: #8EB486;
    height: 30px;
    /* Increase height to accommodate text */
    padding: 10px;
    /* Reduce padding to make better use of space */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    /* Space out the elements vertically */

}

.job-card-css:hover {
    background-color: #685752;
}